/*  Body default CSS  -  Lucy Lin */
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: medium;
}
/* End body css defaults */

/* navbar -  Erik Oosterbaan */
/* Source: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
.navbar{
	overflow: hidden;
	background-color: rgb(65, 133, 160);
	position: relative;
	top: 0;
	width: 100%;
}
.topitem {
	margin-top: 1em;
	margin: auto;
	margin-bottom: 1.2em;
}
.navbar a{
	float: left;
	color: aliceblue;
	padding: 15px 17px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	display: block;
}
.navbar .icon {
	display: none;
  }
.navbar a:hover {
	background-color: aliceblue;
	color: rgb(65, 133, 160);
}
.navbar a.active {
	background-color: rgb(65, 133, 160);
	color: aliceblue;
	font-style: bold;
  }
@media screen and (max-width: 600px) {
	.navbar a:not(:first-child) {display:none;}
	.navbar a.icon {
		float: right;
		display: block;
	}
}
@media screen and (max-width: 600px) {
	.navbar.responsive {position: relative;}
	.navbar.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
/* End navbar */

/* css for general tags  -  Lucy Lin */
h1 {
	background-color: rgb(245, 250, 255);
	margin: auto;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
}
h2 { 				/* general h2 css  -  Erik Oosterbaan */
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
}
p {
	font-size: 1em;
	margin-top: 1%;
	margin-bottom: 1%;
}
img {
	border-radius: 30%;
}
/* end general css tags */

/* Home page header image  -  Erik Oosterbaan */
.homeartcontainer {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
	opacity: 100%;
}
.header {
	border-radius: 10px;
	max-width: 100%;
}
/* End home page header */

/* Home page text formatting  -  Erik Oosterbaan */
#homeh2 {
	text-align: center;
	color: rgb(105, 183, 214);
	font-size: 1.5em;
}
#homep {
	text-align: center;
	margin-bottom: 2em;
}
/* End home page text */

/* Home page banner formatting  -  Lucy Lin */
img.banner {
	border-radius: 0;
	width: 100%;
	height: auto;
}
p.bannerspace{
	margin: 0;
}
.topanchor {
	position: sticky;
	top: 0;
	overflow: hidden;
	background-color: white;
}
/* End home page banner */

/* Home page flexbox  -  Erik Oosterbaan */
/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox */
.home-flex {
	display: flex;
	background-color: aliceblue;
	justify-content: center;
	flex-flow: row wrap;
}
.homeimg {
	max-width: 50%;
}
.homediv {
	flex: 1 1 auto;
	font-size: 0.8em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}
/* End home page flexbox */

/* Columns in team page  -  Lucy Lin */
.leftcolumn {
	float: left;
	width: 50%;
	margin-bottom: 5em
	;
}
.rightcolumn {
	float: right;
	width: 50%;
	margin-bottom: 5em;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 700px) {
	.leftcolumn {
		width: 100%;
	}
	.rightcolumn {
		width: 100%;
	}
}
/* End team page columns general */

/* css for divs in columns on team page  -  Lucy Lin */
.headshot_container {
	text-align: center;
}
.info_container {
	text-align: center;
	margin-bottom: 20%;
}
.largesubheads {
	font-size: 2em;
	margin-top: 5%;
	margin-bottom: 5%;
	color: rgb(65, 133, 160)
}
.smallheadings {
	font-size: 1.3em;
	margin-top: 4%;
	color: skyblue;
}
button {
	appearance: none;
	border: none;
	background-color: transparent;
}
/* End team page div formatting */

/* About age services accordion  -  Erik Oosterbaan*/
/* Source: https://codepen.io/samarkandiy/pen/FpuHb */
.services{
	background: rgb(105, 183, 214);
	color: aliceblue;
	padding-top: 5px;
	box-shadow: 0 2px 3px lightgray;
}
.services input[type='radio']:checked ~ .info{
	height: 200px;
	transition: .5s ease;
}
input[type='radio']{
	width: 100%;
	display: none;
}
label{
	width: 100%;
	cursor: default;
}
span{
	font-family: 'Lucida Sans';
	font-weight: bold;
	font-style: italic;
	display: block;
	padding: 8px 12px 12px 12px;
	margin: 0;
	cursor: pointer;
}
.info{
	background: aliceblue;
	color: black;
	font-size: 0.9em;
	width: 100%;
	height: 0;
	line-height: 2;
	padding-left: 15px;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	transition: .5s ease;
} 
/* End About page services accordion */

/* Contact Page column css  -  Lucy Lin */
.center_column {
	width: inherit;
	float: center;
	text-align: center;
}
.button1 {
	display: block;
	margin-bottom: 3em;
	margin-top: 2em;
}
.button2 {
	display: block;
	margin-bottom: 3em;
}
.button3 {
	display: block;
	margin-bottom: 4em;
}
/*fade in boxes on contact page  -  Lucy Lin */
.phonenumber {
	padding: 2.5em;
	text-align: center;
	margin: 0 auto;
	width: 300px;
	background-color: aliceblue;
	display: none;
	border-radius: 50%;
}
.email {
	padding: 2.5em;
	text-align: center;
	margin: 0 auto;
	width: 300px;
	background-color: aliceblue;
	display: none;
	border-radius: 50%;
}
.facebookurl {
	padding: 2.5em;
	text-align: center;
	margin: 0 auto;
	width: 300px;
	background-color: aliceblue;
	display: none;
	border-radius: 50%;
}
/* End contact page formatting */

