body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: medium;
}

/* NAVIGATION BAR */
/* Source: https://csswizardry.com/2011/01/create-a-centred-horizontal-navigation/ */
.menu{
	border: 1px solid white;
	border-width: 5px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.menu li{
	display: inline;
	text-decoration: none;  
}
.menu a{
	display: inline-block;
 	padding: 10px;
	text-decoration: none;
	color: lightskyblue;
}
/* End Source */

/* css for general tags  -  Lucy Lin */
h1 {
	background-color: aliceblue;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
}
p {
	font-size: 1em;
	margin-top: 1%;
	margin-bottom: 1%;
}
img {
	border-radius: 30%;
}
/* end general tags */

/* Columns in team page  - Lucy Lin */
.leftcolumn {
	float: left;
	width: 50%;
	margin-bottom: 5em
	;
}
.rightcolumn {
	float: right;
	width: 50%;
	margin-bottom: 5em;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 700px) {
	.leftcolumn {
		width: 100%;
	}
	.rightcolumn {
		width: 100%;
	}
}
/* End columns in team page */

/* css for divs in columns on team page  -  Lucy Lin */
.headshot_container {
	text-align: center;
}
.info_container {
	text-align: center;
	margin-bottom: 20%;
}
.largesubheads {
	font-size: 2em;
	margin-top: 5%;
	margin-bottom: 5%;
	color: rgb(65, 133, 160)
}
.smallheadings {
	font-size: 1.3em;
	margin-top: 4%;
	color: skyblue;
}
button {
	appearance: none;
	border: none;
	background-color: transparent;
}
/* end team page divs */

/* Contact Page column css  - Lucy Lin */
.center_column {
	width: inherit;
	float: center;
	text-align: center;
}
.logos {
	margin-top: 3em;
	margin-bottom: 3em;
}
.logotext {
	color:
}

/*fade in boxes on contact page  -  Lucy Lin */
.phonenumber {
	padding: 2.5em;
	text-align: center;
	margin: 0 auto;
	width: 300px;
	background-color: aliceblue;
}
.email {
	padding: 2.5em;
	text-align: center;
	margin: 0 auto;
	width: 300px;
	background-color: aliceblue;
}
.facebookurl {
	padding: 2.5em;
	text-align: center;
	margin: 0 auto;
	width: 300px;
	background-color: aliceblue;
}


