body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* NAVIGATION BAR */
/* Source: https://csswizardry.com/2011/01/create-a-centred-horizontal-navigation/ */
.menu{
	border: 1px solid white;
	border-width: 5px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.menu li{
	display: inline;
	text-decoration: none;  
}
.menu a{
	display: inline-block;
 	padding: 10px;
	text-decoration: none;
	color: lightskyblue;
}
/* End Source */

/* css for general tags */
h1 {
	background-color: aliceblue;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
}

/* Columns in team page */
.row {
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 10%;
}
.left_column {
	float: left;
	width: 30%;
}
.centre_column {
	float: left;
	width: 45%;
}
.right_column {
	float: left;
	width: 25%;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* End columns in team page */

/* css for divs in columns on team page */

/* end team page column */

/* img css */
img {
	border-radius: 30%;
	max-width: 100%;
	height: auto;
}

